<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Template engine</title>
</head>

<body>
	<script>
	'use strict';
	var tpl = `
	<div>
		<span class="title">
			{{title}}
		</span>
		<span class="text">
			{{text}}
		</span>
	</div>
	`;

	var list = [{
		title: 'qwerty',
		text: 'iuh'
	}, {
		title: 'ytrewq',
		text: 'booooooooom'
	}, {
		title: 'asdfgh',
		text: 'stradajte'
	}];

	function template(obj, str) { //obj in this case = list, str = tpl
		var res = '';
		var newStr = str;

		obj.forEach(function(elementK) { //search in every key
			var key = Object.keys(elementK);

			for (var i = 0; i < key.length; i++) {  // i - every word from tpl start with div
				str = str.replace(
					'{{' + key[i] + '}}', elementK[key[i]]);
			}

			res += str;
			str = newStr;

		});

		return res;
	}

	console.log(template(list, tpl));
	</script>
</body>

</html>
